/*
.Vintage-Door-Sign-1-hex { color: #6C208C; }
.Vintage-Door-Sign-2-hex { color: #7F26A6; }
.Vintage-Door-Sign-3-hex { color: #784ba6; }
.Vintage-Door-Sign-4-hex { color: #F4E341; }
.Vintage-Door-Sign-5-hex { color: #F3F7FF; }
*/

html {
    background:#784ba6;
    color:#F3F7FF;

    font-size: 17px;
    font-family:helvetica, sans-serif;
}

P {
    text-indent:2em;
}

h1, h2, h3 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary { text-align: center;}
.main p {line-height: 1.5;}

abbr {
    font-variant: small-caps;
}